.Container {
  width: 120px;
  aspect-ratio: 1;
  border-radius: 10px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.Container:hover {
  border: 1px solid #d8bfd8;
  box-shadow: 0px 0px 10px #ca60ca;
  transform: scale(1.05);
}
.flipped {
  width: 120px;
  aspect-ratio: 1;
  border-radius: 10px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  font-size: 50px;
  color: white;
}

.card {
  width: 100%;
}
.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.card .back {
  transition: all ease-in 0.2s;
  place-items: center;
}

.flipped .front {
  transform: rotateY(0deg);

  width: 6%;

  border-radius: 10px;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@media screen and (max-width: 1440px) {
  .Container {
    width: 108px;
  }
  .flipped {
    width: 108px;
  }
  .card .front {
    width: 7.5%;
  }
}
@media screen and (max-width: 1024px) {
  .Container {
    width: 100px;
  }
  .flipped {
    width: 100px;
  }
  .card .front {
    width: 10%;
  }
}
@media screen and (max-width: 768px) {
  .Container {
    width: 74px;
  }
  .flipped {
    width: 74px;
  }

  .card .front {
    width: 10%;
  }
}
@media screen and (max-width: 375px) {
  .Container {
    width: 65px;
  }
  .flipped {
    width: 65px;
  }
  .card .front {
    width: 17%;
  }
}
